<%  include ./partials/header %>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
    <div class="container">
        <h1 class="text-light m-4">Monitor you Power Devices Wirelessly</h1>
            <button class="btn btn-sm btn-primary m-2 ml-0" id="manual">Alter value manually</button>
        <form action="/rpm" method="POST" id="myForm">            
            <div class="slide container hideform" id = "mkc">
                    <h4 class="text-danger">RPM</h4>
                    <!-- <h3 class="text-light p-2">Adjust Slider to change Voltage</h3> -->
                    <span class="text-light p-3">1%</span>
                    <input type="range" min="1" max="100" value="10" name="value" class="slider m-2" id="myRange">
                    <span class="text-light">100%</span>
                    <button type="submit" class="btn btn-sm btn-primary submit mt-3 " align=center style="display:block;">Submit</button>
                    <div class ="text-light" id="demo"></div>
            </div>   
        </form>
        <button type="button" class="btn btn-sm btn-danger m-2" id="stopm">Manual Stop</button>
        
    </div>
<%  include ./partials/footer %>

